
<div>
  <md-nav-bar class="landingPageNavBar" md-selected-nav-item="currentNavItem" aria-label="selected item">
    <a href="#/"><img class="pixelHouzLogo" href="#/" src="../assets/images/logo.png" alt="Pixel House" height="42" width="55"/></a>
    <md-nav-item md-nav-href="#register" name="register">Register</md-nav-item>
    <md-nav-item md-nav-href="#login" name="login">Login</md-nav-item>
    <md-nav-item md-nav--click="showAlert($event)" name="contactUs">Contact Us</md-nav-item>
  </md-nav-bar>
</div>
