<div ng-controller="NavController">

<div>
  <md-nav-bar md-selected-nav-item="currentNavItem">
    <img src="../assets/images/logo.png" alt="Pixel House" height="42" width="55"/>
    <md-nav-item md-nav-click="about()" name="about">About</md-nav-item>
    <md-nav-item md-nav-click="contactUs()" name="contactUs">Contact Us</md-nav-item>
    <md-nav-item md-nav-href="#register" name="register">Register</md-nav-item>
    <md-nav-item md-nav-href="#login" name="login">Login</md-nav-item>
  </md-nav-bar>
</div>

</div>
