<div ng-controller="NavController">

  <div ng-show="userLevel.level == 'user'">
    <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="selected item">
      <a href="#user"><img src="../assets/images/logo.png" alt="Pixel House" height="42" width="55"/></a>

      <md-nav-item md-nav-href="#user" name="map">Job Map</md-nav-item>
      <md-nav-item md-nav-href="#myJobs" name="myJobs" >My Jobs</md-nav-item>
      <md-nav-item md-nav-click="logOut()" name="logOut">Log Out</md-nav-item>
    </md-nav-bar>
  </div>

  <div ng-show="userLevel.level == 'admin'">
    <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="selected item">
      <a href="#user"><img src="../assets/images/logo.png" alt="Pixel House" height="42" width="55"/></a>
      <md-nav-item md-nav-href="#user" name="map">Job Map</md-nav-item>
      <md-nav-item md-nav-href="#jobsList" name="jobslist">Jobs</md-nav-item>
      <md-nav-item md-nav-href="#userList" name="userList">User List</md-nav-item>
      <md-nav-item md-nav-click="logOut()" name="logOut">Log Out</md-nav-item>
    </md-nav-bar>
  </div>

</div>
