<md-button class="md-raised md-primary jobListButton" href="#jobsList"> Job List </md-button>
<md-button class="md-raised md-primary createJobButton" href="#createJob"> Create a Job </md-button>

<md-card class="createJob">
  <md-toolbar>
    <h1 class="toolbarText">New Job</h1>
  </md-toolbar>

  <div layout="row">
  <div layout="column">
    <form>
      <div flex class="clientInfo">
        <md-input-container required>
          <label>Client Name</label>
          <input type="text" ng-model="name" required/>
        </md-input-container>

        <md-input-container>
          <label>Phone #</label>
          <input type="number" ng-model="phone"/>
        </md-input-container>
      </div>

      <!-- Email fields -------------------------------------------------->
      <md-button class="md-raised md-primary addEmail" ng-click="addEmailField()">Add Email</md-button>
      <div flex class="email">
        <md-input-container ng-repeat="email in emails track by $index">
          <label>Email</label>
          <input type="text" ng-model="emails[$index]" required/>
        </md-input-container>
      </div>

      <div flex>
        <md-input-container>
          <label>Address</label>
          <input type="text" ng-model="address" required/>
        </md-input-container>

        <md-input-container>
          <label>Zip Code</label>
          <input type="text" ng-model="zip" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5"/>
        </md-input-container>

      </div>

      <div flex>
        <md-input-container>
          <label>City</label>
          <input type="text" ng-model="city" required/>
        </md-input-container>
      </div>

      <div flex>
        <md-input-container>
          Square Footage
          <select ng-model="squareFeet" aria-label="squareFeet"
                  ng-options="item.sqft for item in sf" ng-change="total()">
          </select>
        </md-input-container>
      </div>

      <div flex>
        <md-input-container>
          <md-checkbox ng-model="tenThousandSqFt" ng-change="total()">10,000+ sq ft</md-checkbox>
        </md-input-container>
      </div>

      <div flex>
          <md-datepicker ng-model="dueDate" md-placeholder="Due Date">
          </md-datepicker>

          <md-datepicker ng-model="preferredDate" md-placeholder="Preferred Date">
          </md-datepicker>

        <md-input-container>
          <label>Preferred Timeframe</label>
          <md-select ng-model="timeFrame" aria-label="Timeframe">
            <md-option ng-repeat="item in time">{{item}}</md-option>
          </md-select>
        </md-input-container>

      </div>

      <!-- ADD ONS -->
      <div flex>
        <md-input-container>
          After Dark
          <select ng-model="afterDark" aria-label="afterDark"
                  ng-options="item.option for item in ad" ng-change="total()">
          </select>
        </md-input-container>
      </div>
      <div flex>
        <md-input-container>
          <md-checkbox ng-model="lakeAndAcreage" ng-change="total()">Lakeshore and Acreage - $100</md-checkbox>
        </md-input-container>
      </div>

      <div flex>
        <md-input-container>
          <label>Total Price</label>
          <input type="text" ng-model="totalPrice" | currency/>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="saveNewJob()">Create Job</md-button>
      </div>
      </div>

      <div layout="column" class="textareaContainer">
        <textarea ng-model="entryMethod" class="notes" placeholder="Entry Method"></textarea>

        <textarea ng-model="notes" class="notes" placeholder="Additional Notes"></textarea>

    </form>
  </div>
</div>
</md-card>
