<h1>New Job</h1>
<md-card>
  <form>
    <md-input-container>
      <label>Client Name</label>
      <input type="text" />
    </md-input-container>

    <md-input-container>
      <label>Email</label>
      <input type="text" />
    </md-input-container>

    <md-input-container>
      <label>Phone #</label>
      <input type="text" />
    </md-input-container>

    <md-input-container>
      <label>Address</label>
      <input type="text" />
    </md-input-container>

    <md-input-container>
      <label>Property S.F.</label>
      <input type="text" />
    </md-input-container>

    <md-datepicker ng-model="newJob.dueDate"  md-placeholder="Due Date">
    </md-datepicker>

    <md-datepicker ng-model="newJob.preferredDate"  md-placeholder="Preferred Date">
    </md-datepicker>

    <md-input-container>
      <md-select ng-model="newJob.timeFrame">
        <md-option ng-repeat="" value="{{}}">
          {{}}
        </md-option>
      </md-select>
    </md-input-container>

    <!-- ADD ONS -->
    <div>
      <h4>Add Ons</h4>

      <label>Aerial</label>
        <md-select ng-model="newJob.aerial">
          <md-option ng-repeat="" value="{{}}">
            {{}}
          </md-option>
        </md-select>
      </md-input-container>

      <label>After Dark</label>
        <md-select ng-model="newJob.afterDark">
          <md-option ng-repeat="" value="{{}}">
            {{}}
          </md-option>
        </md-select>
      </md-input-container>

      <label>Video</label>
        <md-select ng-model="newJob.video">
          <md-option ng-repeat="" value="{{}}">
            {{}}
          </md-option>
        </md-select>
      </md-input-container>

      <label>Drive By</label>
        <md-select ng-model="newJob.afterDark">
          <md-option ng-repeat="" value="{{}}">
            {{}}
          </md-option>
        </md-select>
      </md-input-container>

      
    </div>
  </form>
</md-card>
