<div ng-include="'/views/templates/nav.html'"></div>

<md-card class="createUserCard" ng-controller="FabCtrl as fab">
  <!-- Toolbar ---------------------------------------------------------->
      <md-toolbar layout="row">
        <h1 class="toolbarText" flex="80">Create user</h1>
        <md-fab-speed-dial md-open="fab.isOpen" md-direction="left"
                           ng-class="fab.selectedMode" flex="22">
          <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-accent">
              <i class="material-icons">menu</i>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button aria-label="User list" class="md-fab md-raised md-mini md-accent" ng-click="userList()">
              <i class="material-icons">list</i>
              <md-tooltip  md-direction="bottom">
                User List
              </md-tooltip>
            </md-button>
            <md-button aria-label="create user" class="md-fab md-raised md-mini md-accent" ng-click="createUser()">
              <i class="material-icons">add_circle_outline</i>
              <md-tooltip  md-direction="bottom">
                Create User
              </md-tooltip>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
      </md-toolbar>
  <!-- Toolbar ---------------------------------------------------------->


  <h1 ng-if="message !=''">{{message}}</h1>
    <div layout="row" layout-align="center center">
      <div layout="column">
        <form>
          <md-input-container required>
            <label for="username">Username:</label>
            <input type="text" ng-model="user.username" />
          </md-input-container>
          <md-input-container required>
            <label for="password">Password:</label>
            <input type="password" ng-model="user.password" />
          </md-input-container>
          <md-input-container required>
            <label for="email">Email:</label>
            <input type="text" ng-model="user.email" />
          </md-input-container>
          <md-input-container required>
            <label for="phone">Phone #:</label>
            <input type="tel" ng-model="user.phoneNumber" />
          </md-input-container>
            <md-button class="md-raised md-primary registerUserButton" ng-click="registerUser('user')">Register</button>
        </form>
      </div>
    </div>
</md-card>
