<div ng-include="'/views/templates/nav.html'"></div>
<md-button class="md-raised md-primary jobListButton" href="#jobsList"> Job List </md-button>
<md-button class="md-raised md-primary createJobButton" href="#createJob"> Create a Job </md-button>

<md-card class="jobsListCard">

    <md-toolbar>
      <h1 class="toolbarText">Job List</h1>
    </md-toolbar>

    <!-- sortable searchable -->

  <div class="repeatJobsList">
    <md-card ng-repeat="job in jobs track by $index" layout="row">
      <div flex class="repeatStatus" ng-class="job.jobStatus">
        <p ng-class="job.jobStatus"><strong>{{job.jobStatus}}</strong><span ng-if="job.jobStatus!='open'" > by {{job.jobAcceptedBy}}</span></p>
      </div>
      <div flex class="repeatClientInfo">
        <p>Client: <strong>{{job.name}}</strong></p>
        <p>Address: <strong>{{job.address.line1}} </strong></p>
        <p><strong>{{job.address.city}}, {{job.address.state}}  {{job.address.zip}}</strong></p>
      </div>
      <div flex class="repeatJobInfo">
        <p>Due Date: <strong>{{job.dueDate | date : format : longDate}}</strong></p>
        <p>Price: <strong>${{job.totalPrice}}</strong></p>
      </div>

      <div flex class="repeatStatus">
        <p><strong>{{job.jobStatus}}</strong><span ng-if="job.jobStatus!='open' && job.jobStatus!='finished'" > by {{job.jobAcceptedBy}}</span></p>
      </div>
      <div flex class="repeatJobButtons">
        <md-button class="md-raised md-primary" ng-show="job.jobStatus!='finished'" ng-click="finish(job._id)">Finish</md-button>
        <md-button class="md-raised md-primary" ng-click="reopen(job._id)" ng-show="job.jobStatus!='open'">Re-Open</md-button>
        <md-button class="md-raised md-warn" ng-click="delete(job._id)">Delete</md-button>
      </div>
      <i class="material-icons jobsListArrow">keyboard_arrow_down</i>
    </md-card>
  </div>
</md-card>
