<md-button class="md-raised md-primary jobListButton" href="#jobsList"> Job List </md-button>
<md-button class="md-raised md-primary createJobButton" href="#createJob"> Create a Job </md-button>

<md-card class="jobsListCard">

    <md-toolbar>
      <h1 class="toolbarText">Job List</h1>
    </md-toolbar>

  <div class="repeatJobsList">
    <md-card ng-repeat="job in jobs track by $index" ng-class="{{job.jobStatus}}" layout="row">
      <div flex class="repeatClientInfo">
        <p>Client: <strong>{{job.name}}</strong></p>
        <p>Address: <strong>{{job.address}}</strong></p>
      </div>
      <div flex class="repeatJobInfo">
        <p>Due Date: <strong>{{job.dueDate | date : format : longDate}}</strong></p>
        <p>Price: <strong>${{job.totalPrice}}</strong></p>
      </div>
      <div flex class="repeatStatus">
        <p><strong>{{job.status}}</strong></p>
      </div>
      <div flex class="repeatJobButtons">
        <md-button class="md-raised md-primary" ng-click="finish(job._id)">Finish</md-button>
        <md-button class="md-raised md-primary" ng-click="reopen(job._id)" ng-show="job.status!='open'">Re-Open</md-button>
        <md-button class="md-raised md-warn" ng-click="delete(job._id)">Delete</md-button>
      </div>
      <i class="material-icons jobsListArrow">keyboard_arrow_down</i>
    </md-card>
  </div>
</md-card>
