<div ng-include="'/views/templates/landingNav.html'"></div>

<div class="home-carousel">
    <div layout="column" layout-align="center center" >
        <jk-carousel data="arrayData" item-template-url="'/views/item-template.html'"  max-width="2000" max-height="800" auto-slide="true" auto-slide-time="5000">
        </jk-carousel>
    </div>
</div>

<div class="landingPageMapImage">
  <img src="../assets/images/homephotos/mapview.png" alt="Find a job visual map representation" />
</div>
<div class="landingPageAbout">
  <h1>Pixel Houz</h1>
  <p>Hello</p>
</div>
