<div ng-include="'/views/templates/landingNav.html'"></div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="contactInfo">
        <md-dialog layout-padding>
            <h3>Nate Labatt
        <br />
        Lakes | Sotheby's International Realty
       </h3>
            <p><strong>
         <br/>
         3217L Galleria
         <br/>
         Edina, Minnesota 55435
         <br />
         (612) 743-2975
       </strong></p>
        </md-dialog>
    </div>
</div>




<div class="home-carousel">
    <div layout="column" layout-align="center center">
        <jk-carousel data="arrayData" item-template-url="'/views/item-template.html'" max-width="2000" max-height="800" auto-slide="true" auto-slide-time="5000">
        </jk-carousel>
    </div>
</div>



<div class="landingPageMapImage">
    <img src="../assets/images/homephotos/mapview.png" alt="Find a job visual map representation" />
</div>
<div class="landingPageAbout">
    <h1 class="landingPagePixelHouse">About Us</h1>
    <p>Pixel Houz is a platform for freelance photographers to see upcoming and active jobs in their area. By giving the photographer the ability to communicate directly with the client, we create a streamlined experience for the homeowner, photographer,
        and agent. By being virtual and fluid, we keep costs low, and quality high.
        <span style="font-weight: bold">Request a log in today by registering as a new user.</span> </p>
</div>
