<div ng-include="'/views/templates/landingNav.html'"></div>
    <h1 ng-if="message !=''" class="flashMessage">{{message}}</h1>
<div class="signIn" layout="row">
  <md-card class="loginCard">
    <form class="logInForm" ng-submit="login()">
      <!-- <h1 ng-if="message !=''">{{message}}</h1> -->
      <md-input-container>
        <label>Username</label>
        <input name="username"  required md-maxlength="20" minlength="4" ng-model="user.username">
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input type="password" name="password"  required md-maxlength="25"  ng-model="user.password">
        <md-button class="md-raised md-primary loginButton" type="submit" name="submit" value="Log In">Log In</md-button>
      </md-input-container>
    </form>

    </md-card>
  </div>
