<div class="signIn" layout="row" layout-align="center center">
    <form class="logInForm" ng-submit="login()">

      <md-input-container>
        <label>Username</label>
        <input name="username" ng-model="username" required md-maxlength="15" minlength="4">
        <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div> -->
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input name="password" ng-model="password" required md-maxlength="25" minlength="4">
        <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div> -->
      </md-input-container>

      <div class="loginSubmit">
        <md-button class="md-raised md-primary loginButton"> Log In </md-button>
      </div>

    </form>
  </div>
