<div class="signIn">
  <h1 class="loginHeader">Login</h1>
    <h1 class="" role="alert" ng-if="message != ''">{{message}}</h2>

    <form class="logInForm" ng-submit="login()">

      <div class="usernameField">
          <input type="text" class="" placeholder="Username" ng-model="user.username" />
      </div>

      <div class="passwordField">
          <input type="password" class="" placeholder="Password" ng-model="user.password"  />
      </div>

      <div class="loginRegister">
          <input class="" type="submit" name="submit" value="Log In" />
      </div>

    </form>

</div>
