<div ng-include="'/views/templates/nav.html'"></div>
<md-toolbar>
    <h1 class="toolbarText">Find a Job</h1>
</md-toolbar>

<ng-map zoom="10" center="[44.886656, -93.2258133]" scrollwheel="false">
    <div class="mapmodal" ng-show="pinSelected">
        <i class="material-icons closebtn" ng-click="closeModal()">clear</i>
        <div class="modalText">
          <p><strong>Address:</strong> <a ng-href="http://www.google.com/maps/place/{{selectedPin.link}}">{{selectedPin.address}}</a>   </p>
          <p><strong>Preferred Time:</strong> {{selectedPin.date}}, {{selectedPin.time}}</p>
          <p class="due"><strong>Due:</strong> {{selectedPin.due}}</p>
          <p class="pay"><strong>Pay:</strong> ${{selectedPin.price}}</p>
        </div>
        <md-button ng-show="isUser" class="jobbtn md-raised md-primary" ng-click="takeJob(selectedPin.jobID)">Accept Job</md-button>
    </div>
    <marker ng-repeat="mapmarker in mapMarkers" position="{{mapmarker.position}}" title="{{mapmarker.title}}" on-click="showData(mapmarker)"></marker>
</ng-map>

<md-card class="jobsCardMapPage">
  <md-toolbar>
    <h1 class="toolbarText">Jobs Available</h1>
  </md-toolbar>
    <md-card  ng-repeat="job in mapMarkers">
      <div class="mapJobList">
          <div>
            <p>Address: <strong>{{job.position}}</strong></p>
          </div>
          <div>
            <p>Price: <span style="font-weight: bold">${{job.price}}</span></p>
          </div>
          <div>
            <p>Preferred Date: <span style="font-weight: bold">{{job.date}}</span></p>
          </div>
          <div>
            <p>Done By: <span style="font-weight: bold">{{job.due}}</span></p>
          </div>
          <md-button ng-show="isUser" class="jobbtn md-raised md-primary" ng-click="takeJob(job.jobID)">Accept Job</md-button>
        </div>
      </md-card>
</md-card>
