<div ng-include="'/views/templates/landingNav.html'"></div>

<md-card class="createApplicantCard">
  <md-toolbar>
    <h1 class="toolbarText">Request Access</h1>
  </md-toolbar>
  <h1 ng-if="message !=''">{{message}}</h1>
    <div layout="row" layout-align="center center">
      <div layout="column">
        <form>
          <md-input-container required>
            <label for="username">Username:</label>
            <input type="text" ng-model="newUser.username" />
          </md-input-container>
          <md-input-container required>
            <label for="password">Password:</label>
            <input type="password" ng-model="newUser.password" />
          </md-input-container>
          <md-input-container required>
            <label for="email">Email:</label>
            <input type="text" ng-model="newUser.email" />
          </md-input-container>
          <md-input-container required>
            <label for="phone">Phone #:</label>
            <input type="tel" ng-model="newUser.phoneNumber" />
          </md-input-container>
            <md-button class="md-raised md-primary registerApplicantButton" ng-click="registerUser()">Register</md-button>
        </form>
      </div>
    </div>
</md-card>
