<div ng-include="'/views/templates/nav.html'"></div>

<div class="createJob" ng-controller="FabCtrl as fab">

    <!-- Toolbar ---------------------------------------------------------->
    <md-toolbar layout="row">
        <h1 class="toolbarText" flex="80">Update Prices</h1>
        <md-fab-speed-dial md-open="fab.isOpen" md-direction="left" ng-class="fab.selectedMode" flex="22">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-accent">
                    <i class="material-icons">menu</i>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Job list" class="md-fab md-raised md-mini md-accent" ng-click="jobsList()">
                    <i class="material-icons">list</i>
                    <md-tooltip md-direction="bottom">
                        Job List
                    </md-tooltip>
                </md-button>
                <md-button aria-label="create a job" class="md-fab md-raised md-mini md-accent" ng-click="createJob()">
                    <i class="material-icons">add_circle_outline</i>
                    <md-tooltip md-direction="bottom">
                        Create a Job
                    </md-tooltip>
                </md-button>
                <md-button aria-label="update prices" class="md-fab md-raised md-mini md-accent" ng-click="updatePrices()">
                    <i class="material-icons">settings</i>
                    <md-tooltip md-direction="bottom">
                        Update Prices
                    </md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </md-toolbar>
</div>
<!-- Toolbar ---------------------------------------------------------->
<form class="updatePricesForm">
    <h3>Create A New Service</h3>

    <div flex>
        <strong>Name</strong>
        <md-input-container>
            <input type="text" ng-model="newPrice.name" />
        </md-input-container>
    </div>


    <div flex>
        <strong>Value</strong>
        <md-input-container>
            <input type="number" ng-model="newPrice.value" />
        </md-input-container>
    </div>

    <div flex>
        <md-input-container>
            <label><strong>Group(Optional)</strong></label>
            <input type="text" ng-model="newPrice.group" />
        </md-input-container>
    </div>
    <md-button class="md-raised md-primary" ng-click="createPrice()">Create</md-button>

</form>
<form>
    <div ng-repeat="price in prices">
        <md-input-container>
            <label>Name</label>
            <input type="text" ng-value="price.name" ng-model="price.name" />
        </md-input-container>
        <md-input-container>
          <label>Price</label>
          <input type="text" ng-value="price.value" ng-model="price.value" />
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="updatePrices(price._id, price)">Update</md-button>
<md-button class="md-raised md-warn" ng-click="deletePrice(price._id)">Delete</md-button>
    </div>
</form>
