<div class="adminUserListNavButtons">
<md-button class="md-raised md-primary userListButton" href="#userList"> User List </md-button>
<md-button class="md-raised md-primary createUserButton" href="#createUser"> Create User </md-button>
</div>

<md-card>
  <div class="adminUserPage">
    <md-toolbar>
      <h1 class="toolbarText">Users</h1>
    </md-toolbar>
  </div>

    <md-card ng-repeat="user in allUsers">
      <div class="userListCards">
        <div class="userListCardsUsername">
          <p>Username: <span style="font-weight: bold">{{user.username}}</span></p>
        </div>
        <div class="userListCardsEmail">
          <p>Email: <span style="font-weight: bold">{{user.email}}</span></p>
        </div>
        <div  class="userListCardsPhone">
          <p>Phone #: <span style="font-weight: bold">{{user.phoneNumber}}</span></p>
        </div>
      </div>
    </md-card>

</md-card>
