<div ng-include="'/views/templates/nav.html'"></div>
<div class="userListPageDiv">

<div class="adminUserListNavButtons">
<md-button class="md-raised md-primary userListButton" href="#userList"> User List </md-button>
<md-button class="md-raised md-primary createUserButton" href="#createUser"> Create User </md-button>
</div>

<md-card class="adminUserPage">

  <div>
    <md-toolbar>
      <h1 class="toolbarText">Users</h1>
    </md-toolbar>
  </div>

    <md-card ng-repeat="user in allUsers">
      <div class="userListCards">

        <md-input-container>
          <label>Username</label>
          <input type="text" value="{{user.username}}" model="user.username"/>
        </md-input-container>

        <md-input-container>
          <label>Email</label>
          <input type="text" value="{{user.email}}" model="user.email"/>
        </md-input-container>

        <md-input-container>
          <label>Phone</label>
          <input type="text" value="{{user.phoneNumber}}" model="user.phoneNumber"/>
        </md-input-container>
        
        <md-button class="md-raised md-primary userUpdateButton" ng-click="updateUser(user._id)">Update User</md-button>
        <md-button class="md-raised md-warn userDeleteButton" ng-click="deleteUser(user._id)">Delete User</md-button>
      </div>
    </md-card>
</md-card>
</div>
